@model SearchGameViewModel


<div id="TeamQueueListDiv" class="col-md-12">

    <div id="CurrentlyPlayingPlayersListDiv" class="row">
        <span>Currently playing:</span>
        <button class="btn btn-primary pull-right">Join game queue</button>
        <hr>
        @if(Model.CurrentlyPlayingPlayers != null) {
            <div class="col-md-6">
                <ol class="list-group">
                    @foreach(var player in Model.CurrentlyPlayingPlayers) {
                        <li class="list-group-item">@player.Name (score: @player.Score)</li>
                    }
                </ol>
            </div>
            <div class="col-md-6">
                <p>Game time left:</p>
                <p>@Model.CurrentGameTimeLeft.SecondsLeft</p>
            </div>
        }
    </div>

    <div id="QueuedPlayersListDiv" class="row">
        <span>Players queued:</span>
        <hr>
        @if(Model.QueuedPlayers != null) {
            <div class="col-md-6">
                <ol class="list-group">
                    @foreach(var player in Model.QueuedPlayers) {
                        if(player.IsCurrent) {
                            <li class="list-group-item">@player.Name (score: @player.Score)</li>
                        } else {
                            <li class="list-group-item list-group-item-info">player.Name (score: @player.Score)</li>
                        }
                    }
                </ol>
            </div>
            <div class="col-md-6">
                <p>Estimated wait time:</p>
                <p>@Model.EstimatedGameTimeLeft.SecondsLeft</p>
            </div>
        }
    </div>
</div>