@model SearchTeamViewModel


<div id="TeamQueueListDiv" class="col-md-12">

    <div id="CurrentlyPlayingPlayersListDiv" class="row">
        <span>Currently playing:</span>
        <button class="btn btn-primary pull-right">Join game queue</button>
        <hr>
        <div class="col-md-6">
            <ol class="list-group">
                @foreach(var player in Model.CurrentlyPlayingPlayers) {
                    <li class="list-group-item">@player.Name (score: @player.Score)</li>
                }
            </ol>
        <div class="col-md-6">
            <p>Game time left:</p>
            <p>@CurrentGameTimeLeft</p>
        </div>
    </div>

    <div id="QueuedPlayersListDiv" class="row">
        <span>Players queued:</span>
        <hr>
        <div class="col-md-6">
            <ol class="list-group">
                @foreach(var player in Model.QueuedPlayers) {
                    if(player.IsCurrent) {
                        <li class="list-group-item">@player.Name (score: @player.Score)</li>
                    } else {
                        <li class="list-group-item list-group-item-info">player.Name (score: @player.Score)</li>
                    }
                }
            </ol>
        </div>
        <div class="col-md-6">
            <p>Estimated wait time:</p>
            <p>@EstimatedGameTimeLeft</p>
        </div>
    </div>
    
</div>