@model NewGameViewModel

<section id="intro" class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Table Footbal Reservation Page</h1>
                <p><strong>Create a game to make a reservation of a table for 15 minutes</strong></p>
            </div>
        </div>
    </div>
</section>

<section id="reservation" class="reservation-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Create new game</h1>
                <table class="table">
                    <tr>
                        <th class="text-center"><h2>First team</h2></th>
                        <th></th>
                        <th class="text-center"><h2>Second team</h2></th>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <select id="firstTeamSelect" name="FirstTeamSelect" class="selectpicker input-lg" data-live-search="true" multiple>
                                <optgroup label="First Team" data-max-options="2">
                                @foreach(var player in Model.Players) {
                                    <option>@player.Name @player.Surname @player.Score</option>
                                }
                                </optgroup>
                            </select>
                        </td>
                        <td>
                            <button class="btn btn-default btn-lg btn-block btn-danger" type="button">CREATE</button>
                        </td>
                        <td class="text-center">
                            <select id="secondTeamSelect" name="SecondTeamSelect" class="selectpicker input-lg" data-live-search="true" multiple>
                                <optgroup label="Second Team" data-max-options="2">
                                @foreach(var player in Model.Players) {
                                    <option>@player.Name @player.Surname @player.Score</option>
                                }
                                </optgroup>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

<section id="stats" class="stats-section">
    <div class="row" style="width: 100%">
        <div class="col-lg-12">
            <div id="myCarousel" class="carousel slide">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="intro-content text-center">
                            <h1>Last five games this week</h1>
                            <table class="table table-bordered table-striped table-hover table-curved">
                                <thead>
                                    <tr>
                                        <th class="text-center">Date</th>
                                        <th class="text-center">Team One</th>
                                        <th class="text-center">Team Two</th>
                                        <th class="text-center">Points</th>
                                        <th class="text-center">Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>01-01-1991</td>
                                        <td>Czarek K, Marta B</td>
                                        <td>Jacek Z, Ludwik M</td>
                                        <td>2:1</td>
                                        <td>10m 21s</td>
                                    </tr>
                                                                        <tr>
                                        <td>01-01-1991</td>
                                        <td>Czarek K, Marta B</td>
                                        <td>Jacek Z, Ludwik M</td>
                                        <td>2:1</td>
                                        <td>10m 21s</td>
                                    </tr>
                                                                        <tr>
                                        <td>01-01-1991</td>
                                        <td>Czarek K, Marta B</td>
                                        <td>Jacek Z, Ludwik M</td>
                                        <td>2:1</td>
                                        <td>10m 21s</td>
                                    </tr>
                                                                        <tr>
                                        <td>01-01-1991</td>
                                        <td>Czarek K, Marta B</td>
                                        <td>Jacek Z, Ludwik M</td>
                                        <td>2:1</td>
                                        <td>10m 21s</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="item">
                        <div class="intro-content text-center">
                            <h1>Changes to the Grid</h1>
                            <p>Bootstrap 3 still features a 12-column grid, but many of the CSS class names have completely changed.</p>
                            <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="intro-content text-center">
                            <h1>Percentage-based sizing</h1>
                            <p>With "mobile-first" there is now only one percentage-based grid.</p>
                            <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p>
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="icon-prev"></span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="icon-next"></span>
                </a>  
                </div>
        </div>
    </div>
</section>

<section id="player" class="player-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img id="player_img" src="/images/lego_player.jpg" />
            </div>
            <div class="col-lg-8">
                <h1>Update Player Name</h1>
                </br>
                <form 
                asp-controller="Game" 
                asp-action="UpdatePlayer" 
                asp-route-returnurl="@ViewBag.ReturnUrl" 
                method="post" 
                class="form-horizontal"
                role="form">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group row">
                        <label asp-for="NewPlayer.Name" class="col-sm-4 control-label"></label>
                        <div class="col-sm-4">
                            <input asp-for="NewPlayer.Name" class="form-control" />
                            <span asp-validation-for="NewPlayer.Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="NewPlayer.Surname" class="col-sm-4 control-label"></label>
                        <div class="col-sm-4">
                            <input asp-for="NewPlayer.Surname" class="form-control" />
                            <span asp-validation-for="NewPlayer.Surname" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="submit" value="Update" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Contact</h1>
                <p>Karol Dzitkowski</p> 
                <p>k.dzitkowski&#64;gmail.com</p>
                <p>Work time: 8am - 4pm</p>
            </div>
        </div>
    </div>
</section>