@model GameViewModel
@{
    bool showStatus = !string.IsNullOrEmpty(ViewData["StatusMessage"] as string);
    string statusMessage = (string)ViewData["StatusMessage"];
    string statusClass = (bool)ViewData["IsStatusError"] ? "text-danger" : "text-success";
}

<section id="intro" class="intro-section first-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Table Footbal Reservation Page</h1>
                <p><strong>Create a game to make a reservation of a table for 15 minutes</strong></p>
            </div>
        </div>
    </div>
</section>

@if(showStatus) {
    <section id="status" class="status-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="@statusClass">@statusMessage</p>
                </div>
            </div>
        </div>
    </section>
}

<section id="reservation" class="reservation-section">
    <div class="container">
        <div class="row">
            <div id="gameDiv" class="col-lg-12">
                @if(Model.FinishGame != null) {
                    @Html.Partial("Partial/FinishGame.cshtml", Model.FinishGame)
                } else {
                    @Html.Partial("Partial/NewGame.cshtml", Model.NewGame)
                }
            </div>
        </div>
    </div>
</section>

<section id="team-search" class="team-search-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                @if(Model.SearchGame != null) {
                    @Html.Partial("Partial/SearchGame.cshtml", Model.SearchGame)
                }
            </div>
        </div>
    </div>
</section> 

<section id="stats" class="default-section">
    <div class="row" style="width: 100%">
        <div class="col-lg-12">
            @Html.Partial("Partial/Statistics.cshtml", Model.Statistics)
        </div>
    </div>
</section>

<section id="contact" class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Contact</h1>
                <p>Karol Dzitkowski</p> 
                <p>k.dzitkowski&#64;gmail.com</p>
                <p>Work time: 8am - 4pm</p>
            </div>
        </div>
    </div>
</section>